body{font-family:"Roboto",sans-serif; color: #2e2f42;}
h1{font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    text-align: center;
    color: #fff;
background: #2e2f42;}
h2{font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    text-align: center;}
.menu-nav {font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    }
    .contact-links a{font-size: 16px;
        line-height: 1.5; 
        color: #434455;}
        .contact-links a:hover, .contact-links a:focus{color:#404bbf;}
        button{font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            color: #fff;
        background: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);}
    button:hover, button:focus{background:#404bbf;}
    .text-content h3{font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        }
.text-content p{font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #434455;}
       p{font-size: 16px;
        line-height: 1.5;
               color: #f4f4fd;}